*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 14rem;
  margin-bottom: 4rem;
}
.btn-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem 4rem;
  font-size: 3rem;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.btn-start {
  width: 24rem;
  background-color: steelblue;
  z-index: 1;
}

.btn-pause {
  width: 24rem;
  background-color: lightseagreen;
  position: absolute;
  left: 50%;
  transform: translate(-54%, 0);
}

.btn-add {
  background-color: lime;
}

.btn-reset {
  background-color: firebrick;
}

.list-container {
  width: 50%;
}
.list-box {
  display: flex;
  align-items: center;
}
.list__time {
  font-size: 2rem;
  background-color: gray;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.btn-delete {
  width: 3rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
